<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="../static/logo.png" rel="icon">

        <link href="../static/style.css" rel="stylesheet" type="text/css">

        <title>Grade Calculator: Register</title>
    </head>

    <body>
        <div class="banner">
            <div class="center">
            <h1>Register</h1>
            <form method="post">
                <div class="txt_field">
                    <input type="text" name="username" required value="{{ username }}">
                    <span></span>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="confirmation" required>
                    <span></span>
                    <label>Password Confirmation</label>
                </div>
                {% if incorrect %}
                    <p>Please fill out all fields</p>
                    <br>
                {% elif incorrect2 %}
                    <p>Confirmation must match password</p>
                    <br>
                {% elif incorrect3 %}
                    <p>Username already taken</p>
                    <br>
                {% endif %}
                <input type="submit" value="Register">
                <br><br><br>
            </form>
            </div>
        </div>

      </body>

</html>